<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>University Registrar</title>
    </head>
    <body>
        <center>
        <h1>University Registrar</h1>
        <p>Create a new course</p>

        <form action="/courses" method="post">
            <label for="course">Course Name</label>
            <input id="course" name="course" type="text">
            <label for="coursenumber">Course Number</label>
            <input id="coursenumber" name="coursenumber" type="text">


            <button type="submit" class="btn btn-success btn-xs">Add Course</button>
        </form>

        {% if courses is not empty %}
            <p>Here are all your courses:</p>
                {% for course in courses %}
                    <p><a href="/courses/{{ course.getId }}">{{ course.getCourse }}</a></p>
                {% endfor %}
            {% else %}
                <p>There ain't none.</p>
        {% endif %}
        <form action="/delete_course" method="post">
            <button type="submit" class=" btn btn-danger btn-xs">Subtractegories</button>
        </form>
        </center>
    </body>
</html>
